.container{
    padding-top: 20px;
}
a.nav-link{
    margin-right: 50px;
}
.nav_list:hover{
    color: white;
    text-decoration: none;
}
#news{
    margin-left: 30px;
    color: white;
}
.search_icon {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.user_name{
    margin-left: 50px;
    color: white;
    font-size: 15px;
}